body {
    font-family: Arial, sans-serif;
}
.navbar-nav.custom-gap .nav-link {
    margin-right: 50px; }
.navbar {
    border-bottom: 2px solid #ffffff;
    padding-right: 10px;
}

.content-box {
    background-color: #e0f7fa;
    border-radius: 0 80px 80px 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.building-img {
    max-width: 250px; 
    border-radius: 10px;
}
.header-box {
    background-color: #a2ded0;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-weight: bold;
    color: #000; 
}

.header-box h2 {
    margin: 0; 
    font-size: 1.5rem;
    font-weight: bold; 
}

.info-card {
    background-color: #e0f7fa; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s;
}

.info-card:hover {
    transform: translateY(-10px);
}

.icon {
    width: 50px; 
    height: 50px;
}
.background-box {
    background-color: #78c2ad; 
    border-radius: 15px; 
    padding: 30px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); }

.header-box {
    background-color: #a2ded0;
    border-radius: 50px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: #000; 
}

.header-box h2 {
    margin: 0; 
    font-size: 1.5rem;
    font-weight: bold;
}
.info-card {
    background-color: #e0f7fa; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s;
}

.info-card:hover {
    transform: translateY(-10px);
}

.icon {
    width: 50px; 
    height: 50px; 
}

